<html>
    <head>
        <%- include('publicStyle.ejs'); %>
        <title><%= title %></title>
    </head>
    <body>
        <div class="header">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/movies">Movies</a></li>
                <li><a href="/movies/add">Add Movies</a></li>
                <li><a href="/signUp">SignUp</a></li>
                <li><a href="/logIn">LogIn</a></li>
            </ul>
        </div>
        <h1>Single Movie</h1><br><br><br>
        <h2>Movie Title: <%= title %></h2>
        <h2>Movie Release Date: <%= release %></h2>
        <h2>Movie Genre: <%= genre %></h2>
        <form action="/" method=""></form>
        <% 
        var deletePath="/movies/"+m_id+"/delete";
        var editPath="/movies/"+m_id+"/update";
        %> 
        <form method=PUT action=<%= editPath %>>
            <input type="text" id="mID" hidden="true" value=<%= m_id %> >
            <button type="submit">Edit</button>
        </form>

        <form method=delete action=<%= deletePath %>>
            <input type="text" id="mID" hidden="true" value=<%= m_id %> >
            <button type="submit">Delete</button>
        </form>
    </body>
</html>